@page "/about"

<Head>
</Head>
<div class="container marketing">


    <!-- START THE FEATURETTES -->
    <div class="row featurette mt-5">
        <div class="col-md-7">
            <h2 class="featurette-heading">Mūsu misija. <span class="text-muted">Nodrošināt iekārtas kvalitatīviem sakariem.</span></h2>
            <p class="lead">Stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts .</p>
        </div>
        <div class="col-md-5">
            <img src="images/business-radios-2021.png" class="img-fluid" />

        </div>
    </div>
    <br />
    <hr class="featurette-divider">
    <br />
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Mūsu misija. <span class="text-muted">Nodrošināt iekārtas kvalitatīviem sakariem.</span></h2>
            <p class="lead">Stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts stāsts .</p>
        </div>
        <div class="col-md-5">
            <img src="images/images.jpg" class="img-fluid" />

        </div>
    </div>
    <br />
    <hr class="featurette-divider">
    <br />
   
    <br />
    <hr class="featurette-divider">
    <br />
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Nodrošinam ātrāko izsūtīšanu. <span class="text-muted">Jo pieredzīte.</span></h2>
            <p class="lead"> Nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav </p>
        </div>
        <div class="col-md-5">

            <img src="images/MTPortRadios_FAL_2929_371x348px.jpg" class="img-fluid" />

        </div>
    </div>
    <br />
    <hr class="featurette-divider">

    <div>
            <img src="images/Mana bilde1.jpg" class="img-fluid" />
            <h1>Direktors</h1>
            <p>Ralfs Mārcis Ābols</p>
            <p class="mb-2"><a class="btn btn-secondary" target="_parent" href="https://github.com/RalMarAbo">Skatīt sīkāk &raquo;</a></p>
    </div><!-- /.row -->
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<BlogPostArea></BlogPostArea>


@code {

}
